* {
    color: white;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-title {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.sub-title {
    text-align: center;
    margin: 0;
    font-style: italic;
}

.nav-container {
    background-color: white;
    width: 750px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-container > * {
    flex: 1;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    background-color: rgb(4, 4, 4);
    height: 500px;
    width: 750px;
    margin: auto;
}

.main-container > * {
    flex: 1;
}

.history-container, .manifest-container {
    color: white;
}

.knife-img {
    width: 35%;
    display: block;
    margin: auto;
}

.reviews-container {
    background-color: white;
    width: 750px;
    height: 200px;
    margin: auto;
}

.foot-container {
    background-color: white;
    width: 750px;
    height: 150px;
    margin: auto;
}